
* {box-sizing:border-box}


.slideshow-container {
  max-width: 1400px;
  position: relative;
  margin: auto;
}



.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: Black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


body, html {
    height: 41em;
}

.bg { 
    background-image: url("main-background1.jpg");

    height: 100%; 
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    opacity: 0.7;

}

h1 {
	font-family: Georgia, serif;
	font-size: 1.4em;
	letter-spacing: 1px;
	margin: 0 auto;
	color:#f1f1f1;
	width: 1000px;
	text-align: center;
	padding: 35px 10px;


			}
h2 {
	font-size: .8em;
	font-weight:100;
	margin: .3em auto;
	color:#f1f1f1;
	margin: 0px auto 0;
	text-align: center;


			}


div#map {
    width: 950px;
    height:520px;
    margin: 20px auto 0;
    border: 3px solid rgba(88,109,139, 0.5);

}

.axis path {
  display: none;

}

.axis {
	fill:#f1f1f1;
	font-size:11px;
	font-family: sans-serif;


}



.rectangle {
	fill:#586d8b;
	opacity:0.8;
	stroke: #eeeeee;
}
.rectangle:hover {
	fill:#00324d;
}
.lableText {
	font-family: sans-serif;
	fill: #f1f1f1;
	font-size: .8em;
	font-weight:100;
	text-anchor:middle;
}


p {font-family: serif;
	font-style: italic;
	color:#f1f1f1;
	font-size: .6em;
	font-weight:100;
    width: 1250px;
    text-indent: 50px;
	 }



